body{
	background-image: url("../images/bg.jpg");
	color: white;
	font-size: 24px;
	font-family: Helvetica;
	padding: 50px;
	background-attachment: fixed;
	/*background-repeat: no-repeat;*/
}

img{

	background-color: white;
	padding: 50px;
	max-width: 574;
	max-height: 574;

}

li{
	padding: 50px;
	text-align: center;
}

#heading{
	padding-top: 50px;
}
